@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --gray: #5a5e5f;
    --o: 10px;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}



body{
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
    background-color: #E0E7E7;
    
}


a{
    color: var(--gray);
}

.Header-main{
    padding: 100px 0px 50px;
    text-align: center;
}

 h1{
    font-family: Righteous;
    font-weight: normal;
    font-weight: normal;
    font-size: 3rem;
    text-decoration: none;
    color: var(--gray);
    height: 4.125rem;
}

.Header-nav :link{
    
}


.Cats-wrapper{
    display: flex;
    overflow: hidden;
    border-color: seagreen;
    

}
.Cats{
    display: flex;
    flex-flow: row wrap;
    max-width: 958px;
    margin: auto;
    
    
}
.Cat-item{
    margin: auto;
    width: 30%;
    margin-bottom: 20px
    
}
.Cat-item:last-child{
    display: none;
}
.Cat-item img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25),
}

.tag{
    position: relative;
}
.tag p{
    color: rgb(56, 56, 56);
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    text-align: right;
    font-size: 0.8rem;
}

@media (max-width: 959px){
    .Cat-item img{
        height: 200px;
    }
    .Cats{
        margin: 10px;
    }
}

@media (max-width: 669px){
    .Cat-item{
        margin-bottom: 0px;
    }
    .Cat-item img{
        height: 200px;
        margin: 4px 4px;
    }
    .Cats{
    }
}
/* detail */

.Cats-inner


